.App {
  margin: auto;
  width: 100%;
  min-width: 720px;
  max-width: 968px;
  min-height: 100vh;
  background: linear-gradient(
      210deg,
      rgba(0, 150, 247, 1) 0%,
      rgba(6, 65, 123, 0.4) 25%,
      rgba(5, 32, 68, 0.8) 80%,
      rgba(6, 65, 123, 1) 90%,
      rgba(0, 150, 247, 0.4) 150%
    ),
    linear-gradient(
      180deg,
      rgba(0, 150, 247, 1) 0%,
      rgba(6, 65, 123, 1) 85%,
      rgba(5, 16, 16, 1) 100%
    );
  padding: 40px;
}

p,
span {
  color: white;
  font-size: 1.5rem;
}

.col {
  padding-left: 2px;
  padding-right: 2px;
}

.card {
  border-radius: 10px;
  margin-bottom: 4px;
  overflow: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icony {
  max-width: 300px;
}

.top-card {
  max-height: 150px;
}

.flex {
  display: flex;
}

.flex-horizontal {
  flex-direction: row;
}

.flex-even {
  flex: 1 1 0px;
}

.transform-upper {
  text-transform: uppercase;
}

.sp-1 {
  margin-right: 0.5rem;
}

.sp-2:last-child {
  margin-right: 0px;
}

.pd-1 {
  padding: 0.5rem;
}

.pd-2 {
  padding: 1rem;
}

.text-big {
  font-size: 3rem;
}
