.App {
  margin: auto;
  width: 100%;
  max-width: 968px;
  height: 100vh;
  background: linear-gradient(
    160deg,
    rgba(0, 150, 247, 1) 0%,
    rgba(6, 65, 123, 1) 75%,
    rgba(5, 16, 34, 1) 100%
  );
  padding: 30px;
}

.col {
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icony {
  margin-top: 30px;
  max-width: 300px;
}

.top-card {
  max-height: 150px;
}