.contain {
  margin: 30px;
  position: relative;
  .todaycard-background {
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    object-position: bottom right;
  }

  p,
  span {
    font-size: 2rem;
  }

  .today-text-city {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .text-big {
    font-size: 3rem;
  }
}
